@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,700");

html,
body {
	width: 100%;
	margin: 0 auto;
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	color: #00AFE5;
}

*,
*:after,
*:before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

button:focus,
input:focus,
select:focus,
textarea:focus,
a:focus {
	box-shadow: none!important;
	outline: none!important;
}
img {
	width: 100%;
	height: auto;
}

a {
	text-decoration: none!important;
}

#content {
	padding: 50px 0;
}

#content .container {
	position: relative;
}

#content .icon {
	width: 35px;
	margin-right: 5px;
	margin-bottom: 4px;
	vertical-align: top;
}

#content h2 {
	color: #00AFE5;
}

/*
#content h2:before {
	margin-right: 5px;
	color: #666666;
}
*/
#about-us h2 {
	display: inline-block;
	letter-spacing: 3px;
	font-weight: bold;
}

#about-us .logo {
	width: 60px;
	margin-right: 5px;
}

#about-us .about-us {
	color: #000000;
	text-align: justify;
	text-indent: 70px;
}

@media (min-width: 992px) and (max-width: 1199px) {}

@media (min-width: 1200px) {}
