* {
    margin: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: "DM Sans", sans-serif;
  }
  
  main {
    display: flex;
  }
  
  /* ================================================================== */
  
  /* Styling The Navigation Side */
  nav {
    display: flex;
    flex-direction: column;
    padding: 30px 50px 30px 25px;
    box-shadow: 0 0 12px 0 #d8d8d8;
  }
  
  nav a.logo {
    text-decoration: none;
    display: flex;
    align-items: center;
    color: black;
    margin-bottom: 35px;
  }
  
  nav a.logo img {
    width: 30px;
    margin-right: 10px;
  }
  
  nav a.logo h3 {
    font-size: 25px;
  }
  
  ul {
    list-style: none;
    padding: 0;
    width: 170px;
  }
  
  .active {
    background-color: #f3f5f8;
  }
  
  nav li:not(:last-child),
  nav > div a:not(:last-child) {
    margin-bottom: 10px;
  }
  
  nav li a,
  nav > div a {
    display: block;
    text-decoration: none;
    color: #5f6165;
    font-size: 14px;
    font-weight: 500;
    padding: 8px;
    border-radius: 6px;
    transition: 0.3s;
  }
  
  nav li a:hover,
  nav > div a:hover {
    background-color: #f3f5f8;
  }
  
  nav i {
    margin-right: 5px;
  }
  
  nav > div {
    margin-top: 80px;
    position: sticky;
    top: 80px;
  }
  
  @media (max-width: 767px) {
    nav span,
    nav a.logo h3 {
      display: none;
    }
    nav > :nth-child(n) {
      width: 32px;
    }
    nav {
      padding: 22px 10px;
    }
  }
  /* Styling The Navigation Side */
  /* Styling The Dashboard Content */
.content {
    flex: 1;
  }
  
  /* Styling The Head */
  header {
    padding: 16px 30px;
    display: flex;
    align-items: center;
  }
  
  header .search {
    position: relative;
  }
  
  header .search i {
    position: absolute;
    z-index: 1;
    color: grey;
    left: 12px;
    top: 50%;
    transform: translateY(-50%);
  }
  
  header input {
    width: 230px;
    height: 40px;
    border: none;
    outline: none;
    background-color: #f5f4f6;
    border-radius: 6px;
    padding-left: 35px;
    font-size: 15px;
    position: relative;
    transition: 0.3s;
  }
  
  header input:focus {
    caret-color: orange;
    width: 330px;
  }
  
  header input:focus::placeholder {
    color: transparent;
  }
  
  header .notify {
    margin-left: auto;
    font-size: 20px;
    position: relative;
    cursor: pointer;
  }
  
  header .notify::after {
    content: "";
    position: absolute;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: red;
    right: 0px;
    top: 1px;
    border: 2px solid white;
  }
  
  header img {
    width: 40px;
    border-radius: 50%;
    margin-left: 20px;
  }
  
  @media (max-width: 767px) {
    header input {
      width: 230px;
    }
    header input:focus {
      width: 270px;
    }
  }
  /* Styling The Head */
  /* Styling The Dashboard Data */
.data {
    background-color: #f5f5f5;
    padding: 30px;
    min-height: calc(100% - 72px);
    display: flex;
    flex-direction: column;
    gap: 30px;
  }
  
  .data .cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 30px;
  }
  
  .data .info-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 265px;
    font-size: 25px;
    font-weight: 700;
    border-radius: 15px;
    justify-content: space-evenly;
  }
  .full-purple {
    background-color: #a162f7;
    color: white;
  }
  .pink,
  .purple,
  .yellow {
    background-color: white;
    color: #242731;
  }
  
  .data .info-card i {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: grid;
    place-content: center;
    font-size: 17px;
  }
  .full-purple i {
    background-color: #a66ff0;
  }
  .pink i {
    background-color: rgba(255, 126, 134, 0.1);
    color: #ff7e86;
  }
  .purple i {
    background-color: rgba(161, 98, 247, 0.1);
    color: #a162f7;
  }
  .yellow i {
    background-color: rgba(246, 204, 13, 0.1);
    color: #f6cc0d;
  }
  
  @media (max-width: 767px) {
    .data {
      padding: 15px;
      gap: 15px;
    }
    .data .cards {
      gap: 15px;
    }
  }