@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,700");

html,
body {
	width: 100%;
	margin: 0 auto;
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	color: #00AFE5;
}

*,
*:after,
*:before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

button:focus,
input:focus,
select:focus,
textarea:focus,
a:focus {
	box-shadow: none!important;
	outline: none!important;
}

img {
	width: 100%;
	height: auto;
}

a {
	text-decoration: none!important;
}

#content {
	padding: 50px 0;
}

#content .container {
	position: relative;
}

#content .icon {
	width: 25px;
	margin-right: 5px;
	margin-bottom: 4px;
	vertical-align: top;
}

#content h3 {
	color: #00AFE5;
	margin-bottom: 50px;
}



/* ---------header------------ */
header {

	background: rgb(30,32,33);
    background: linear-gradient(0deg, rgba(30,32,33,1) 0%, rgba(85,86,94,1) 48%);
	height: 105px;
	box-shadow: 0 0 1px 1px rgba(20, 23, 28, .1), 0 3px 1px 0 rgba(20, 23, 28, .1);
}

header .logo {
	margin: 10px 5px 0;
	width: 95px;
}

header .search-input .input-group {
	width: 80%;
	height: 30px;
	margin: 0 auto;
	margin-top: 10px;
}

header .search-input input {
	width: 85%;
	border: none;
	padding: 5px;
}

header .search-input input::placeholder {
	font-style: italic;
}

header #btn-search-input {
	padding: 0 10px;
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
}

header #btn-search-input .fa-search {
	font-size: 13px;
	line-height: 0;
}

header .registration {
	font-size: 13px;
	padding: 0;
	margin-top: 10px;
	list-style: none;
	z-index: 9998;
}

header .registration li {
	display: inline-block;
	margin-right: 15px;
}


header .registration li:last-child {
	/* margin-right: 0; */
	margin-top:3px;
}

header .registration li a {
	color: #FFFFFF;
	padding-right: 12px;
}

header .registration li a span:hover {
	text-decoration: underline!important;
	color: rgb(242, 218, 6);
}
header .registration li a:hover {
	color: rgb(242, 218, 6);

}

header #user-dropdown {
	text-align: left;
	position: absolute;
	top: 40px;
	right: 32%;
	transform: translate(-32%, 0);
	margin: 0;
	padding: 0;
	background-color: rgb(0, 0, 0);
	list-style: none;
	border-radius: 3px;
	z-index: 9999;
}

header #user-dropdown li {
	display: block;
	padding: 10px 20px;
	margin: 0;
}

header #user-dropdown li a:hover {
	color: rgb(242, 218, 6);
}

header .registration .social a {
	text-decoration: none;
	margin: 0 5px;
}

header .registration .social a:last-child {
	margin-right: 0;
}

header .registration img {
	width: 16px;
	vertical-align: sub;
}

header .registration .social img {
	margin-right: 0;
}

header .navbar {
	float: right;
	margin-top: 5px;
	padding: 0;
}

header .navbar .navbar-nav {
	display: block;
	margin: 0;
	padding-bottom: 15px;
}

header .navbar .navbar-nav .nav-item {
	font-weight: bold;
	float: left;
}

header .navbar .navbar-nav .nav-item .nav-link {
	padding: 0 20px;
	color: #FFFFFF;
	font-size: 16px;
	transition: all .3s ease;
}

header .navbar .navbar-nav .nav-item .nav-link:hover {
	color: rgb(242, 218, 6);
	transition: all .3s ease;
}

header .navbar .navbar-nav .nav-item:last-child .nav-link {
	padding-right: 0;
}

header .navbar .navbar-nav .nav-item .nav-link.active {
	color: #00AFEF!important;
}

header .navbar .navbar-nav .nav-item .nav-link.active:before {
	margin-right: 5px;
}

header #sidenav img,
header #navbarSearch img {
	width: 20px;
}

header #search-input .input-group:before {
	border-color: #0000 #0000 #f2f3f5;
	border-style: solid;
	border-width: 0 9px 10px;
	height: 0;
	right: 40px;
	position: absolute;
	top: -10px;
	width: 0;
}

header #search-input .input-group input {
	width: 85%;
	padding: 5px;
	border: none;
}

header #search-input .input-group-append {
	width: 15%;
}

header #btn-navbarSearch {
	width: 100%;
	background-color: #FFFFFF;
	border: none;
	color: #000000;
}