@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,700");

html,
body {
  width: 100%;
  margin: 0 auto;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  color: #00AFE5;
}
*,
*:after,
*:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

button:focus,
input:focus,
select:focus,
textarea:focus,
a:focus {
  box-shadow: none!important;
  outline: none!important;
}

img {
  width: 100%;
  height: auto;
}

a {
  text-decoration: none!important;
}
#content {
	padding: 50px 0;
  }
  
  #content .container {
	position: relative;
  }
  
  #content .icon {
	width: 30px;
	margin-right: 10px;
	margin-bottom: 2px;
	vertical-align: middle;
  }
  #contact .icon-2 {
	width: 35px;
	margin-right: 5px;
	margin-bottom: 3px;
	vertical-align: bottom;
  }
  
  #contact h2 {
	margin-bottom: 40px;
  }
  
  #contact h2:before {
	margin-right: 5px;
	color: #666666;
  }
  
  #contact .text-company {
	color: #464646;
	padding-top: 3px;
	padding-left: 45px;
  }
  #map {
	padding: 20px;
	background-color: #F0F0F0;
  }
  
  #map iframe {
	display: block;
  }