@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,700");

html,
body {
	width: 100%;
	margin: 0 auto;
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	color: black;
}

*,
*:after,
*:before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

button:focus,
input:focus,
select:focus,
textarea:focus,
a:focus {
	box-shadow: none!important;
	outline: none!important;
}

img {
	width: 100%;
	height: auto;
}

a {
	text-decoration: none!important;
}
#content {
	padding: 50px 0;
}

#content .container {
	position: relative;
}

#content h3 {
	color: black;
	margin-bottom: 50px;
}

#content h3:before {
	margin-right: 5px;
	color: #7d060c;
}

#content .icon {
	width: 25px;
	margin-right: 5px;
	margin-bottom: 4px;
	vertical-align: top;
}
#registration form {
	background-color: rgba(88, 89, 91, 0.1);
	border-radius: 8px;
	padding: 30px;
}

#registration form h4 {
	margin-bottom: 40px;
	padding-bottom: 5px;
	border-bottom: 1px solid #00AFEF;
}

#registration form input,
#registration form select {
	color: #000000;
}

#registration form input:focus,
#registration form select:focus {
	border-color: #00AFEF;
}

#registration form input::placeholder {
	font-style: italic;
}

#registration form .form-check {
	display: inline-block;
	position: relative;
	padding-left: 30px;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
#registration .password-meter-bar {
	margin: 10px 0;
	width: 75%;
	border: 3px solid #C0C0C0;
}

#registration form .radio input {
	position: absolute!important;
	top: 0;
	left: 0;
	background-color: #FFFFFF;
	height: 22px;
	width: 22px;
	z-index: 9999;
	opacity: 0;
	cursor: pointer;
}

#registration form .checkmark {
	position: absolute;
	top: 0;
	left: 0;
	height: 22px;
	width: 22px;
	background-color: #EEEEEE;
	border-radius: 50%;
	transition: .3s;
}

#registration form .radio .form-check:hover input ~ .checkmark {
	background-color: #CCCCCC;
	transition: .3s;
}

#registration form .radio .form-check input:checked ~ .checkmark {
	background-color: #2196F3;
}

#registration form .checkmark:after {
	content: "";
	position: absolute;
	display: none;
}

#registration form .radio .form-check input:checked ~ .checkmark:after {
	display: block;
}

#registration form .radio .form-check .checkmark:after {
	top: 7px;
	left: 7px;
	width: 8px;
	height: 8px;
	border-radius: 50%;
	background: #FFFFFF;
}



